// must be imported before nib
@import '../../vendor/styles/bootstrap/_bootstrap.styl'

// Static top navbar
body
  margin-top: 60px

// if you need responsive design
//@import '../../vendor/styles/bootstrap/_bootstrap.styl'

@import 'nib'

// Main welcome message and sign up button

.jumbotron-container
  margin: 0 auto
  max-width: 800px

.jumbotron-container > hr
  margin: 60px 0

.jumbotron
  margin: 20px 0
  text-align: center

.jumbotron h1
  font-size: 100px
  line-height: 1

.jumbotron .lead
  font-size: 24px
  line-height: 1.25

// Persona image in header

.persona
  margin: 7px 0
