{{#if_logged_in}}
  <h1>
    <small>{{#with_user}}<a href="/{{login}}">{{login}}</a>{{/with_user}} / {{name}}</small>
  </h1>

  <div class="row-fluid">
    <div class="span6">
      <div class="page-header">
        <h2>Results</h2>
      </div>

      <table class="exp-result-table-container table table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>Device id</th>
            <th>Upload date</th>
          </tr>
        </thead>
      </table>
    </div>

    <div class="span6">
      <div class="page-header">
        <h2>Graphs</h2>
      </div>
    </div>
  </div>
{{else}}
  <p>You don't have permission to view this page.</p>
{{/if_logged_in}}
