{{#if_logged_in}}
  {{#with_user}}

    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input type="text" id="inputName" class="new-exp-name"
          required maxlength=50 pattern="[a-zA-Z][a-zA-Z0-9_-]+[a-zA-Z0-9]">
        <div class="help-block">
          Used by your app to identify itself.
          <ul>
            <li>Should be at least three characters long</li>
            <li>Can contain letters, numbers, <code>_</code> and <code>-</code></li>
            <li>Should start with a letter, and end with a letter or a number</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputDescription">Description</label>
      <div class="controls">
        <input type="text" id="inputDescription" class="input-block-level new-exp-description"
          placeholder="What's your experiment about? (Optional)" maxlength=300>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" data-loading-text="Submitting..." class="new-exp-submit-button submit-form disabled btn btn-primary">Create experiment</button>
      </div>
    </div>

  {{/with_user}}
{{/if_logged_in}}
