{{#if_logged_in}}
  {{#with_user}}

    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
          <input type="text" id="inputName" class="new-exp-name" required>
          <span class="help-block">Used by your app to identify itself.</span>
          <span class="help-block">Only alphanumerics, <code>_</code> and <code>-</code>.</span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputDescription">Description</label>
        <div class="controls">
          <input type="text" id="inputDescription" class="input-block-level new-exp-description" placeholder="What's your experiment about?">
          <span class="help-block">Optional.</span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="new-exp-submit-button submit-form btn btn-primary">Create experiment</button>
        </div>
      </div>
    </form>

  {{/with_user}}
{{else}}
  <p>You must be logged in to create an experiment</p>
{{/if_logged_in}}
