{{#unless login_is_set}}
  <div class="alert alert-info">
    Please choose a login name
  </div>
{{/unless}}
<div class="control-group">
  <label class="control-label" for="inputLogin">Login</label>
  <div class="controls">
    <input type="text" id="inputLogin" class="user-login-claim"
      required maxlength=50 pattern="[a-zA-Z][a-zA-Z0-9_-]+[a-zA-Z0-9]"
      autofocus {{#if login_is_set}}disabled{{/if}}>
    {{#unless login_is_set}}
      <div class="help-block">
        <ul>
          <li>Should be at least three characters long</li>
          <li>Can contain letters, numbers, <code>_</code> and <code>-</code></li>
          <li>Should start with a letter, and end with a letter or a number</li>
        </ul>
      </div>
    {{/unless}}
  </div>
</div>

{{#unless login_is_set}}
  <div class="control-group">
    <div class="controls">
      <button type="submit" data-loading-text="Submitting..." class="settings-profile-submit-button submit-form disabled btn btn-primary">Set login</button>
    </div>
  </div>
{{/unless}}
