<div class="row">
  <div class="span3 user-container"></div>
  <div class="span9 user-exp-list-container">
    <div class="page-header">
      <h2>{{name}}'s experiments</h2>
    </div>
  </div>
</div>
