<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      {{render header header}}
    </div>
  </div>
</div>
<div class="container-fluid">
  {{outlet}}
</div>
