<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="pull-right">
        {{view App.PersonaView}}
      </div>
      {{#linkTo 'index' class='brand'}}Naja{{/linkTo}}
      <ul class="nav">
        <li>{{#linkTo 'about'}}About{{/linkTo}}</li>
      </ul>
    </div>
  </div>
</div>
