<div class="jumbotron-container">
  <div class="jumbotron">
    <h1>Cognitive Smartphones</h1>
    <p class="lead"><em>Humongous</em> pool of subjects. <em>In vivo</em> experiments. <em>Zero</em> logistics.</p>
  </div>
  <hr>
</div>

<div class="row-fluid">
  <div class="span4 offset2">
    {{partial 'index/users'}}
  </div>
  <div class="span4">
    {{partial 'index/exps'}}
  </div>
</div>
